################################################################################
# {{ ansible_managed }}
#
# file       : /etc/sudoers.d/{{ deployment_user_sudo_group }}
# owner      : root:root 440    <======!!!!!! any looser perm will break sudo
# service    : sudo
# description: sudoers.d/ group file
# OS         : Ubuntu
# Version    : 12.04
#
# 0.1 2016-08-02 - csteel - Initial file
################################################################################

